{% extends "base.html" %}
{% block header %}
		<header>
		<nav class="navbar navstyle navbar-static-top no-margin no-padding" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-display" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/" class="navbar-brand"><strong id="logo"><em>Idea</em>Box</strong></a>
				</div>

				<div class="collapse navbar-collapse" id="mobile-display">
				<div class="navbar-right">
					<ul class="nav navbar-nav navstyle-links">
						<li><a href="/">Home</a></li>
						<li><a href="/logout">Logout</a></li>
						<li><a href="/post">Share</a></li>
						<li><a href="/profile">Profile</a></li>
						<li><a href="/about">About</a></li>
					</ul>
				</div>
				</div>
			</div>
		</nav>
	</header>
{% endblock %}
{% block content %}


	<h1>Hey! I'm profile</h1>


{% endblock %}